* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #dc3545;
    --color-text: #231942;
    --navbar-color: #ffffff;
    --navbar-color-text: #000000;
}

.user-page {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  .ant-btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .ant-btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .ant-table-thead > tr > th {
    background-color: #fafafa;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .ant-modal-title {
    font-family: 'Poppins', sans-serif;
  }
  
  .ant-form-item-label > label {
    font-family: 'Poppins', sans-serif;
  }

  .menu-bar a {
    text-decoration: none; /* Hilangkan garis bawah */
  }
  
  .menu-bar a:hover {
    text-decoration: none; /* Hilangkan garis bawah saat hover */
  }
  
  /* Menengahkan teks pada header kolom */
  .custom-table .ant-table-thead > tr > th {
    text-align: center;
  }