#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #212529;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
  }
  #sidebar .h6 {
    color: #fff;
  }
  #sidebar.active {
    margin-left: -250px;
  }
  #sidebar.active .custom-menu {
    margin-right: -50px;
  }
  #sidebar h2 {
    margin-bottom: 20px;
    font-weight: 700;
  }
  #sidebar h2 .logo {
    color: #fff;
  }
  #sidebar ul.components {
    padding: 0;
  }
  #sidebar ul li {
    font-size: 16px;
  }
  #sidebar ul li > ul {
    margin-left: 10px;
  }
  #sidebar ul li > ul li {
    font-size: 14px;
  }
  #sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #sidebar ul li a:hover {
    color: #fff;
  }
  #sidebar ul li.active > a {
    background: transparent;
    color: #fff;
  }
  #sidebar a {
    text-decoration: none;
  }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #sidebar .custom-menu {
      margin-right: -50px !important;
      top: 10px !important;
    }
  }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  @media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
  #sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  #sidebar .custom-menu .btn.btn-primary {
    background: #525c91;
    border-color: #525c91;
  }
  #sidebar .custom-menu .btn.btn-primary:hover,
  #sidebar .custom-menu .btn.btn-primary:focus {
    background: #525c91 !important;
    border-color: #525c91 !important;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  @media (max-width: 991.98px) {
    #sidebarCollapse span {
      display: none;
    }
  }
  .align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .sidebar-wrapper {
    height: 100vh !important;
    min-height: 100vh !important;
    max-height: 100vh !important;
    overflow: hidden;
  }
  
  .sidebar-content {
    overflow: auto !important;
  }
  
  #sidebar .active {
    background: #525c91;
  }
  