* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #dc3545;
    --color-text: #231942;
    --navbar-color: #ffffff;
    --navbar-color-text: #000000;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}

.sidebar {
    color: var(--primary-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    padding: 6px;
}

.logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background: var(--navbar-color-text);
}

.menu-bar {
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    position: relative;
}

.toggle-theme-btn {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.toggle {
    margin-left: 15px;
}

/* Untuk Dark Theme (saat darkTheme === true) */
.ant-menu-item-selected {
    background-color: var(--secondary-color) !important; /* Background merah untuk dark theme */
    color: #ffffff !important; /* Teks putih */
  }
  
  /* Untuk Light Theme (saat darkTheme === false) */
  /* .ant-menu-light .ant-menu-item-selected {
    background-color: #ff7f7f !important;
    color: #ffffff !important;
  } */
  
  /* Untuk memastikan ikon juga berubah warnanya menjadi putih */
  /* .ant-menu-item-selected .anticon {
    color: #ffffff !important; 
  }
   */